* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.title {
    font-family: "Jolly Lodger";
}

body {
    background-color: #1e0f2f;
    color: #fff;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}

h1 {
    color: #FFF;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #8958FF;
    font-family: "Jolly Lodger";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jogo-memoria {
    width: 600px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-gap: 15px;
    justify-content: center;
}

.carta {
    background-color: #FFE3BD;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    cursor: pointer;
}

.carta:hover {
    transform: scale(1.05);
}

.Buuhh{
    transform: scale(1.05);
    background-color: #8958FF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    cursor: pointer;
    font-size: 40px;
}

Button{
    font-family: "Jolly Lodger";
    background-color: #8958FF;
    border: 0px;
    font-size: 72px;
    color: white;
    margin-top: 40px;
}

button:hover{
    transform: scale(1.05);
}